/* Buttons Component
   ========================================================================== */
.button {
  padding: .5rem 1rem;
  border-radius: 4px;
  font-family: $open-sans;
  font-size: $medium;
  font-weight: $bold;
}

.button_primary {
  border: 1px solid $black;
  color: $black;
  background-color: transparent;
}

.button_secondary {
  border: 1px solid $white;
  color: $white;
  background-color: transparent;
}
