// Color Scheme

// First Color Scheme
$white: #FFF;
$gray: #BABABA;
$sonic-silver: #747474;

// Second Color Scheme
$raspberry-pink: #E56399;
$amaranth-pink: #EE9BBE;
$orchid-pink: #F3B8D0;

//Third Color Scheme
$pearl-aqua: #7FD1B9;
$magic-mint: #ADE1D2;
$columbia-blue: #C4EADF;

//Third Color Scheme
$black: #000;
$nickel: #737373;
$light-gray: #D0D0D0;

// Tipography

//Font Family
$alfa-slab:  'Alfa Slab One', cursive;
$open-sans:  'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xx-large: 60px;
$x-large: 35px;
$large: 22px;
$medium: 16px;
$small: 14px;
